/* header {
  height: 100vh;
  padding-top: 65px;
  background-color: #000;
} */
.header {
  width: 50%;
}
.images {
  height: 100vh;
}
.carousel-item img {
  filter: brightness(50%);
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel-caption {
  left: 0px;
  right: 0;
  top: 35%;
  bottom: 0;
}

.header-title {
  display: block;
  color: white;
}

.containers {
  padding: 0 1%;
}

.container .button-watch {
  background-color: #f33f3f;
  color: white;
}

.title-contents p {
  font-weight: 400;
  color: #f33f3f;
}

.trailer {
  top: 20px;
}
