/* header {
  height: 100vh;
  padding-top: 65px;
  background-color: #000;
} */
.header {
  width: 55%;
}
.images {
  height: 100vh;
}
.carousel-item img {
  filter: brightness(50%);
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel-caption {
  left: 0px;
  right: 0;
  top: 30%;
  bottom: 0;
}

.header-title {
  display: block;
  color: white;
}

.containers {
  padding: 0 1%;
}

.container .button-watch {
  background-color: #f33f3f;
  color: white;
}

.title-contents p {
  font-weight: 400;
  color: #f33f3f;
}

.trailer {
  top: 20px;
}
@media screen and (max-width: 1440px) {
  .images img {
    height: 100vh;
  }
}

@media screen and (max-width: 1024px) {
  nav .nav-search {
    width: 300px;
  }

  .popular {
    margin-bottom: 10px;
  }
  .images {
    height: 50vh;
  }
  .header {
    width: 70%;
  }

  .images img {
    height: auto;
  }

  .header h1 {
    font-size: 3rem;
  }

  .header p {
    font-size: 1rem;
  }

  .header .rating {
    display: none;
  }

  .header button {
    padding: 2px 20px;
    font-weight: 400;
    font-size: 1rem;
  }
  .carousel-caption {
    left: 0px;
    right: 0;
    top: 20%;
    bottom: 0;
  }

  .section-movie {
    margin-top: 0;
  }
}
