nav {
  width: 100%;
  position: absolute;
  z-index: 3;
}

nav .wrapper {
  height: 75px;
}
nav .nav-search {
  width: 500px;
}

nav input {
  border: 2px solid #bf676d;
  background: transparent;
  width: 100%;
  color: white;
}

nav .nav-search .icon {
  top: 10px;
  font-size: 25px;
  right: 25px;
  color: white;
}

nav input:hover {
  border-color: #bf676d;
}

nav .button-login {
  border: 1px solid #f33f3f;
  color: #f33f3f;
}

nav .button-register {
  background-color: #f33f3f;
  color: white;
}

.modal-body input {
  border: 1px solid grey;
}

/* .modal-body input:focus-visible {
  border: 1px solid #f33f3f;
  outline: #f33f3f;
} */

.modal-body .button-login {
  background-color: #f33f3f;
  color: white;
  margin-left: 16px;
}

.modal-body input.input-error {
  border: 1px solid #f33f3f;
  outline: #f33f3f;
}
